@keyframes show_msg {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

* {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110%;

    /* width: 50%; */
    /* border: 3px solid green; */
}

body {
    background-color: rgb(221, 221, 221);
}

/* ----------------------------------------------------------- */

button {
    display: inline-block;
    border-radius: 6px;
    border: solid;
    border-width: 3px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border-color: rgb(0, 0, 109);
    /* background-color: rgb(156, 255, 176); */
}

button:hover {
    background-color:rgb(0, 0, 109);
    color: #fff;
}

button:active {
    font-size: 110%;
}

.btn_green {
    border-color: #128c12;
    background-color: #bdf3bd;
    color: #000;
}

.btn_green:hover {
    border-color: #0a5e0a;
    background-color: #128c12;
    color: rgb(255, 255, 255);
}

.btn_sky {
    border-color: #2660ad;
    background-color: #a2daf3;
    color: #000;
}

.btn_sky:hover {
    border-color: #220f83;
    background-color: #2660ad;
    color: rgb(255, 255, 255);
}


.btn_red {
    border-color: #b11b3e;
    background-color: #f1b8d0;
    color: #000;
}

.btn_red:hover {
    border-color: #770a1a;
    background-color: #b11b3e;
    color: rgb(255, 255, 255);
}


.btn_blk {
    border-color: rgb(94, 94, 94);
    background-color: #bababa;
    color: #000;
}

.btn_blk:hover {
    border-color: rgb(30, 30, 30);
    background-color: rgb(94, 94, 94);
    color: rgb(255, 255, 255);
}




/* ----------------------------------------------------------- */
/* For login */
#login_window {
    padding: 10px;
    margin: 10px;
    border: solid 2px #000;
    border-radius: 5px;
    background-color: #efefef;
    position: relative;
    top: 200px;
    left: 7%;
    width: 82%;
    box-shadow: 20px 30px 10px #888888;;
}

.login_input_field {
    width: 60%;
    font-size: 130%;
    margin: 15px;
    border: solid 3px #676767;
    background-color: #dedede;
    transition: 0.4s;
}

.login_input_field:focus {
    background-color: #efefef;
    border: solid 5px #676767;
    font-size: 140%;
    width: 65%;
}

#login {
    padding: 15px 50px;
}
#sign-up {
    padding: 15px 30px;
}


/* ------------------------------------------------------ */
/* For messages */
#msg_holder {
    position: fixed;
    bottom: 5%;
    width: 90%;
    left: 5%;
    overflow: hidden;
}

.error {
    border: solid 5px #ff0a43;
    background-color: #ffb0c2;
    color: #000;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 8px;
    border-radius: 10px;
    font-size: 150%;
    animation-name: show_msg;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

.warning {
    border: solid 5px #f0bc00;
    background-color: #fff2c2;
    color: #000;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 8px;
    border-radius: 10px;
    font-size: 150%;
    animation-name: show_msg;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

/* ------------------------------------------------ */
/* For table */

table {
    border:solid;
    width: 90%;
}

th {
    border: outset;
}

  
@keyframes glow_pink {
    from {
        text-shadow: 0 0 0px #fff, 0 0 2px #fff, 0 0 4px #e60073, 0 0 6px #e60073, 0 0 8px #e60073, 0 0 10px #e60073, 0 0 12px #e60073;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
}

@keyframes glow_green {
    from {
        text-shadow: 0 0 0px #fff, 0 0 2px #fff, 0 0 4px #078f2d, 0 0 6px #078f2d, 0 0 8px #078f2d, 0 0 10px #078f2d, 0 0 12px #078f2d;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #50fac7, 0 0 20px #50fac7, 0 0 25px #50fac7, 0 0 30px #50fac7, 0 0 35px #50fac7, 0 0 40px #50fac7;
    }
}

@keyframes glow_white {
    from {
        text-shadow: 0 0 0px #fff, 0 0 2px #fff, 0 0 4px #424242, 0 0 6px #424242, 0 0 8px #424242, 0 0 10px #424242, 0 0 12px #424242;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #d3d3d3, 0 0 20px #d3d3d3, 0 0 25px #d3d3d3, 0 0 30px #d3d3d3, 0 0 35px #d3d3d3, 0 0 40px #d3d3d3;
    }
}

.etype_1 {
    background-color: #FFF59D;
}
.etype_2 {
    background-color: #B0BEC5;
}
.etype_3 {
    background-color: #FFAB91;
}
.etype_4 {
    background-color: #C5E1A5;
}
.etype_5 {
    background-color: #F48FB1;
}
.etype_6 {
    background-color: #2E7D32;
    border: solid 4px #1B5E20;
    color: #fff;
}
.etype_7 {
    background-color: #D50000;
    border: solid 4px #C51162;
    color: #fff;
}
.etype_8{
    background-color: #BCAAA4;
    border: solid 4px #4E342E;
    color: #fff;
}
.etype_9 {
    background-color: #B39DDB;
    border: solid 4px #4527A0;
    color: #fff;
}
.etype_10 {
    background-color: #6A1B9A;
    border: solid 4px #4A148C;
    color: #ffffff;
}
.etype_11 {
    background-color: #AD1457;
    border: solid 4px #880E4F;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    animation: glow_white 1s ease-in-out infinite alternate;
}

.etype_101 {
    background-color: #FFCC80;
    border: solid 4px #EF6C00;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}


.date_clr_0 {
    background-color: #e3caff;
}
.date_clr_1 {
    background-color: #fff1ce;
}
.date_clr_2 {
    background-color: #c8fffd;
}
.date_clr_3 {
    background-color: #ffcccc;
}

.cost_neg_6 {
    background-color: #810d0d;
    color: #fff;
    animation: glow_pink .2s ease-in-out infinite alternate;
}
.cost_neg_5 {
    background-color: #be1024;
    color: #fff;
    animation: glow_pink .55s ease-in-out infinite alternate;
}
.cost_neg_4 {
    background-color: #f00947;
    color: #fff;
    animation: glow_pink .8s ease-in-out infinite alternate;
}
.cost_neg_3 {
    background-color: #fc5d74;
    color: #000;
}
.cost_neg_2 {
    background-color: #fc8394;
    color: #000;
}
.cost_neg_1 {
    background-color: #fcb3bd;
    color: #000;
}
.cost_neg_0 {
    background-color: #fccfd5;
    color: #000;
}

.cost_pos_1 {
    background-color: #ccffd2;
    color: #000;
}
.cost_pos_2 {
    background-color: #8fffb2;
    color: #000;
}
.cost_pos_3 {
    background-color: #21ff66;
    color: #000;
    border-color: #007a26;
}
.cost_pos_4 {
    background-color: #0fba31;
    color: #fff;
}
.cost_pos_5 {
    background-color: #079123;
    color: #fff;
}
.cost_pos_6 {
    background-color: #07661a;
    color: #fff;
    border-color: #053d10;
}

.th_new_thread {
    border-top: solid 4px #000;
}


.dt_time {
    font-size: 70%;
    padding: 0px;
}

.th_title {
    background-color: #bcbcbc;
    font-weight: bolder;
    text-decoration: underline;
    border: outset 8px;
}
.total_exp {
    background-color: #4200b3;
    color: #fff;
    text-decoration: underline;
}

/* ------------------------------------------------ */
/* For insert data */

@keyframes animate_add_data_window {
    0% {top: -40%;}
    100% {top: 20%;}
}

#add_data_window {
    border: solid 5px #000;
    border-radius: 10px;
    box-shadow: 20px 30px 10px #888888;
    background-color: #cdcdcd;
    position: fixed;
    top: 20%;
    width: 70%;
    left: 13%;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 50px;

    animation-name: animate_add_data_window;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.add_data_title {
    float: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 15px;
}

.add_data_input_field {
    margin-bottom: 20px;
    width: 50%;
    float: right;
    border: inset 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 10px;
}

.requirred_star {
    color: red;
    font-size: 120%;
}

.add_data_btn {
    float: right;
}

#start_new_thread {
    height: 35px;
    width: 35px;
    position: relative;
    top: 4px;
    /* padding: 8px; */
    /* margin: 4px; */
}

/* ----------------------------------------------------- */
/*  For filter */

#select_filter {
    /* border: dotted; */
    padding: 20px;
    font-weight: bold;
    font-size: 80%;
    margin-bottom: 40px;
    /* position: sticky; */
}

.filter_ip {
    padding: 5px;
    border: inset 5px;
    /* background-color: #efefef; */
}

#filter_button {
    float: right;
}

